version: "3.9"

services:

  db:
    image: mysql:8
    container_name: task_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tasks_db
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql


  backend:
    build: ./backend
    container_name: task_backend
    restart: always
    env_file:
      - backend/.env
    depends_on:
      - db
    ports:
      - "5000:5000"


  frontend:
    build: ./frontend
    container_name: task_frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  db_data:
