body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  background: #f4f6fb;
}

/* Page container */
.container {
  max-width: 480px;
  margin: 40px auto;
  background: #fff;
  padding: 20px 18px;
  border-radius: 12px;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.06);
}

.column-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
}
/* Headers */
h2 {
  margin-top: 0;
  text-align: center;
}

/* Inputs */
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cfd6e4;
  margin-bottom: 10px;
}

input {
  width: 95%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cfd6e4;
  margin: auto;
}

/* Buttons */
button {
  padding: 9px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

button primary,
button[type="submit"] {
  background: #1f7ae0;
  color: white;
}

button.danger {
  background: #e04141;
  color: white;
}

.logout-btn {
  float: right;
  background: #ff8b00;
  color: #fff;
  margin-bottom: 10px;
}

/* Task List */
ul {
  padding-left: 0;
}

li {
  list-style: none;
  background: #fdfdfd;
  padding: 12px;
  border: 1px solid #e2e6f2;
  border-radius: 10px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  gap: 6px;
}

.task-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  padding: 4px 10px;
  border-radius: 18px;
  font-size: 12px;
}

.status.pending {
  background: #ffe7b3;
}

.status.in_progress {
  background: #d5e7ff;
}

.status.done {
  background: #c6f4ce;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 100%;
  max-width: 100%; */
  /* padding: 10px; */
}